@font-face {
    font-family: 'Brushi';
    src: url('/assets/fonts/BRUSHSCI.ttf');
    font-weight: lighter;
    font-style: normal;
  }

  @font-face {
    font-family: 'Josefin';
    src: url('/assets/fonts/JosefinSansLight-ZVEll.ttf');
    font-weight: 500;
    font-style: normal;
  }
 
  @font-face {
    font-family: 'JosefinRegular';
    src: url('/assets/fonts/JosefinSansRegular-x3LYV.ttf');
    font-style: normal;
  }
 


 